ACTION=="add", SUBSYSTEMS=="usb", KERNEL=="sd*", RUN+="/bin/bash /home/pi/simple-pi-digital-photo-frame/usbmount.sh mount /dev/%k"
ACTION=="remove", SUBSYSTEMS=="usb", KERNEL=="sd*", RUN+="/bin/bash /home/pi/simple-pi-digital-photo-frame/usbmount.sh umount /dev/%k"

